@using System.Web.Optimization
@model BookList.Web.Models.JtGridModel

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/bundles/css/jqueryui")
    @Styles.Render("~/bundles/css/jtable")
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/jqueryui")
    @Scripts.Render("~/bundles/js/jtable")
    <script src="~/Scripts/index.js"></script>
</head>
<body>
    <div id="BookTable"></div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('#BookTable').jtable({
            title: 'The Book List',
            paging: false,
            sorting: true,
            defaultSorting: '@Model.JtSorting',
            actions: {
                listAction: '@Url.Action("BookList", "Book")',
                deleteAction: '@Url.Action("DeleteBook", "Book")',
                updateAction: '@Url.Action("UpdateBook", "Book")',
                createAction: '@Url.Action("CreateBook", "Book")'
            },
            fields: {
                BookId: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Title: {
                    title: 'Title',
                    sorting: true,
                    inputClass: 'validate[required, maxSize[30]]',
                    width: '20%'
                },
                PublishDate: {
                    title: 'Publish Date',
                    sorting: true,
                    inputClass: 'validate[required, min[1800]]',
                    width: '15%'
                },
                Publisher: {
                    title: 'Publisher',
                    sorting: false,
                    inputClass: 'validate[maxSize[30]]',
                    width: '20%'
                },
                Pages: {
                    title: 'Pages',
                    sorting: false,
                    inputClass: 'validate[required, min[0], max[10000]]',
                    width: '15%'
                },
                Isbn: {
                    title: 'ISBN',
                    sorting: false,
                    inputClass: 'validate[required, funcCall[checkIsbn]]',
                    width: '15%'
                },
                Authors: {
                    title: 'Authors',
                    width: '15%',
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function(bookData) {
                        var $authorsLink = $('<a href="#" title="Edit Authors">Edit Authors</a>');
                        $authorsLink.click(function() {
                            var tr = $(this).parents("tr"),
                                isChildRowOpen = $('#BookTable').jtable("isChildRowOpen", tr);
                            if (isChildRowOpen) {
                                $($('#BookTable').jtable("getChildRow", tr)).slideUp();
                                return;
                            } else {
                                $('#BookTable').jtable('openChildTable',
                                    $authorsLink.closest('tr'),
                                    {
                                        title: bookData.record.Title + ' - Authors',
                                        actions: {
                                            listAction: '@Url.Action("AuthorList", "Author")' + '?bookId=' + bookData.record.BookId,
                                            deleteAction: '@Url.Action("DeleteAuthor", "Author")',
                                            updateAction: '@Url.Action("UpdateAuthor", "Author")',
                                            createAction: '@Url.Action("CreateAuthor", "Author")'
                                    },
                                    fields: {
                                        AuthorId: {
                                            key: true,
                                            create: false,
                                            edit: false,
                                            list: false
                                        },
                                        FirstName: {
                                            title: 'First Name',
                                            inputClass: 'validate[required, maxSize[20]]'
                                        },
                                        LastName: {
                                            title: 'Last Name',
                                            inputClass: 'validate[required, maxSize[20]]'
                                        }
                                    },
                                    formCreated: function (event, data) {
                                        data.form.validationEngine();
                                    },
                                    formSubmitting: function (event, data) {
                                        return data.form.validationEngine('validate');
                                    },
                                    formClosed: function (event, data) {
                                        data.form.validationEngine('hide');
                                        data.form.validationEngine('detach');
                                    }
                                }, function(data) { //opened handler
                                    data.childTable.jtable('load');
                                });
                            }
                        });
                        return $authorsLink;
                    }
                }
            },
            formCreated: function(event, data) {
                data.form.validationEngine();
            },
            formSubmitting: function(event, data) {
                return data.form.validationEngine('validate');
            },
            formClosed: function(event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            },
            recordsLoaded: function(event, data) {
                insertParam('jtSorting', data.serverResponse.Sorting);
            }
        });

        $('#BookTable').jtable('load');
    });
</script>
