@using System.Web.Optimization
@model BookList.Web.Models.JtGridModel

<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/jqueryui")
    @Scripts.Render("~/bundles/js/jtable")
    @Styles.Render("~/bundles/css/jqueryui")
    @Styles.Render("~/bundles/css/jtable")
    <script src="~/Scripts/index.js"></script>
</head>
<body>
    <div id="BookTable"></div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('#BookTable').jtable({
            title: 'The Book List',
            paging: false,
            sorting: true,
            defaultSorting: '@Model.JtSorting',
            actions: {
                listAction: '@Url.Action("BookList", "Book")',
                deleteAction: '@Url.Action("DeleteBook", "Book")',
                updateAction: '@Url.Action("UpdateBook", "Book")',
                createAction: '@Url.Action("CreateBook", "Book")'
            },
            fields: {
                BookId: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Title: {
                    title: 'Title',
                    sorting: true
                    //width: '30%'
                },
                PublishDate: {
                    title: 'Publish Date',
                    sorting: true
                },
                Publisher: {
                    title: 'Publisher',
                    sorting: false
                },
                Pages: {
                    title: 'Pages',
                    sorting: false
                    //width: '13%'
                },
                Isbn: {
                    title: 'ISBN',
                    sorting: false
                    //width: '12%'
                },
                Authors: {
                    title: 'Authors',
                    //width: '15%'
                    sorting: false,
                    edit: false,
                    create: false,
                    display: function (bookData) {
                        var $authorsLink = $('<a href="#" title="Edit Authors">Edit Authors</a>');
                        $authorsLink.click(function () {
                            $('#BookTable').jtable('openChildTable',
                                $authorsLink.closest('tr'),
                                {
                                    title: bookData.record.Title + ' - Authors',
                                    actions: {
                                        listAction: '@Url.Action("AuthorList", "Author")' + '?bookId=' + bookData.record.BookId,
                                        deleteAction: '@Url.Action("DeleteAuthor", "Author")' + '?bookId=' + bookData.record.BookId,
                                        updateAction: '@Url.Action("UpdateAuthor", "Author")' + '?bookId=' + bookData.record.BookId,
                                        createAction: '@Url.Action("CreateAuthor", "Author")' + '?bookId=' + bookData.record.BookId
                                    },
                                    fields: {
                                        Id: {
                                            key: true,
                                            create: false,
                                            edit: false,
                                            list: false
                                        },
                                        FirstName: {
                                            title: 'First Name'
                                        },
                                        LastName: {
                                            title: 'Last Name'
                                            //width: '30%'
                                        }
                                    }
                                }, function (data) { //opened handler
                                    data.childTable.jtable('load');
                                });
                        });
                        return $authorsLink;
                    }
                }
            },
            recordsLoaded: function(event, data) {
                insertParam('jtSorting', data.serverResponse.Sorting);
            }
        });

        $('#BookTable').jtable('load');
    });
</script>
